@use "./variables" as *;

@font-face {
  font-family: "titillium";
  font-weight: 400;
  src: url($font-titillium-reg-ttf);
}

@font-face {
  font-family: "titillium";
  font-weight: 600;
  src: url($font-titillium-semibold-ttf);
}
@font-face {
  font-family: "titillium";
  font-weight: 700;
  src: url($font-titillium-bold-ttf);
}
