@use "./variables" as *;

@mixin desktop {
  @media screen and (min-width: $desktop-breakpoint) {
    @content;
  }
}

@mixin tablet {
  @media screen and (min-width: $tablet-breakpoint) {
    @content;
  }
}

@mixin setCallToActionStyleMobile {
  width: 100%;
  padding: 0 1rem;
  border-radius: 20px;
  height: 2.25rem; //36px
  border: none;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  &:hover {
    text-decoration: underline;
    text-decoration-color: $color-white;
  }
}

@mixin setCallToActionStyleTablet {
  height: 2.375rem; // 38px
}

@mixin tableHeader {
  font-weight: 600;
  font-size: 12px;
  color: $color-slate;
}

@mixin setPageHeadingStyle {
  font-size: 2rem;
  font-weight: 600;
  line-height: 2.5rem;
}

@mixin mediumText {
  font-size: 0.82rem;
  line-height: 22px;
}

@mixin setInventoryStatusStyle($color) {
  color: $color;
  border-radius: 20px;
  padding: 0 1rem;
}

@mixin setPageBodyFrameAndPosition {
  margin: 0 1rem;
  box-shadow: 0px 2px 5px 0px #13182c1a;
  background: $color-white;
  position: relative;
  top: -4.375rem;
  border-radius: 0.5rem;
  padding: 10px 30px 0 30px;
}

// set the width of each field in a table row
@mixin setTableDataFields(
  $field1Width,
  $field2Width,
  $field3Width,
  $field4Width,
  $field6Width,
  $field3FontSize: 0.875rem
) {
  // field 1
  .data-field:nth-child(1) {
    width: $field1Width;
  }

  // field 2
  .data-field:nth-child(2) {
    width: $field2Width;
  }

  // field 3
  .data-field:nth-child(3) {
    width: $field3Width;
    font-size: $field3FontSize;
    display: flex;
    align-items: center;
  }

  // field 4
  .data-field:nth-child(4) {
    width: $field4Width;
  }

  // field 6
  .data-field:nth-child(6) {
    width: $field6Width;
  }
}
