@use "./variables" as *;

@mixin desktop {
  @media screen and (min-width: $desktop-breakpoint) {
    @content;
  }
}

@mixin tablet {
  @media screen and (min-width: $tablet-breakpoint) {
    @content;
  }
}

@mixin setCallToActionStyleMobile {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
  height: 2.25rem; //36px
  padding-left: 1rem;
  padding-right: 1rem;
  &:hover {
    text-decoration: underline;
    text-decoration-color: $color-white;
  }
}

@mixin setCallToActionStyleTablet {
  height: 2.375rem; // 38px
}

@mixin tableHeader {
  font-weight: 600;
  font-size: 12px;
  color: $color-slate;
}
