@use "./variables" as *;

@mixin desktop {
  @media screen and (min-width: $desktop-breakpoint) {
    @content;
  }
}

@mixin tablet {
  @media screen and (min-width: $tablet-breakpoint) {
    @content;
  }
}

@mixin setCallToActionStyleMobile {
  width: 100%;
  padding: 0 1rem;
  border-radius: 20px;
  height: 2.25rem; //36px
  border: none;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  &:hover {
    text-decoration: underline;
    text-decoration-color: $color-white;
  }
}

@mixin setCallToActionStyleTablet {
  height: 2.375rem; // 38px
}

@mixin tableHeader {
  font-weight: 600;
  font-size: 12px;
  color: $color-slate;
}

@mixin setPageHeadingStyle {
  font-size: 2rem;
  font-weight: 600;
  line-height: 2.5rem;
}

@mixin mediumText {
  font-size: 0.82rem;
  line-height: 22px;
}

@mixin setInventoryStatusStyle($color) {
  color: $color;
  border-radius: 20px;
  padding: 0 1rem;
}
