@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;
@use "../../components/Inventory/InventoryContainer.scss" as *;
@use "../../components/Inventory/InventoryDetails.scss" as *;

.form-heading {
  @extend .card-container__heading;
  font-size: 20px;
  color: $color-instock-black;
}

.form-label {
  @extend .inventory-details__card-heading;
  color: $color-instock-black;
  padding-bottom: 4px;
}

.form-input {
  height: 38px;
  border-radius: 20px;
  text-indent: 10px;
  border: 1px solid $color-cloud;
  width: 100%;
  margin-bottom: 15px;
  font-family: $font-titillium-reg-ttf, sans-serif;
  appearance: none;

  &:focus {
    border: 1px solid $color-instock-indigo;
  }

  &--description {
    @extend .form-input;
    height: 120px;
    padding: 1rem 0 0 0;
  }
}

.status--right {
  margin-left: 70px;
}

.cta {
  display: flex;
  justify-content: space-between;
}

.form-cta--cancel {
  @extend .form-cta;
  width: 139px;
  background-color: $color-white;
  color: $color-instock-black;
  border: 1px solid $color-cloud;
}

.form-cta--add {
  @extend .form-cta;
  width: 139px;
}
