@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;
@use "./InventoryCard.scss" as *;

.edit-cta {
  //   background-color: $color-instock-indigo;
  width: 36px;
  height: 36px;
  border-radius: 20px;
  border: none;
  background-color: $color-instock-indigo;

  @include tablet {
    display: none;
  }

  &--tablet {
    @extend .edit-cta;
    display: none;

    @include tablet {
      display: block;
      color: $color-white;
      width: 81px;
      margin-right: 30px;
    }
  }
}

.inventory-details__card-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.inventory-details__card-heading {
  @extend .inventory-card__heading;
  display: block;
}

.inventory-details__card {
  padding: 10px 0;

  @include tablet {
    padding: 10px 30px;
    display: flex;
    justify-content: space-between;
  }

  &--left {
    @include tablet {
      flex: 2;
      padding-right: 30px;
    }
  }

  &--right {
    @include tablet {
      flex: 2;
      padding-left: 30px;
      border-left: 1px solid $color-cloud;
    }
  }
}

.inventory-details__mobile {
  display: flex;
}

.inventory-details__quantity {
  padding-left: 90px;
}
