.inventory-card {
  padding: 20px;
}
@media screen and (min-width: 768px) {
  .inventory-card {
    display: none;
  }
}
.inventory-card--tablet {
  display: none;
}
@media screen and (min-width: 768px) {
  .inventory-card--tablet {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 30px;
  }
}
.inventory-card__icon, .inventory-card__icon--details {
  vertical-align: middle; /* Align icon with text */
  height: 20px;
}
.inventory-card__icon:hover, .inventory-card__icon--details:hover {
  cursor: pointer;
}
.inventory-card__icon--details {
  filter: brightness(0) invert(1);
}
@media screen and (min-width: 768px) {
  .inventory-card__icon--details {
    padding-right: 5px;
  }
}
.inventory-card__item {
  font-size: 0.82rem;
  line-height: 22px;
  color: #2e66e5;
}
@media screen and (min-width: 768px) {
  .inventory-card__item {
    min-width: 95px;
  }
}
.inventory-card__item:hover {
  cursor: pointer;
}
.inventory-card__item-details, .inventory-card__item-details--quantity {
  font-size: 0.82rem;
  line-height: 22px;
}
@media screen and (min-width: 768px) {
  .inventory-card__item-details, .inventory-card__item-details--quantity {
    min-width: 90px;
  }
}
@media screen and (min-width: 768px) {
  .inventory-card__item-details--quantity {
    min-width: 30px;
  }
}
.inventory-card__heading, .inventory-details__card-heading, .inventory-card__heading--mobile {
  font-weight: 600;
  font-size: 12px;
  color: #5c667e;
  margin: 0;
}
@media screen and (min-width: 768px) {
  .inventory-card__heading--mobile {
    display: none;
  }
}
.inventory-card__edit-delete {
  display: flex;
  justify-content: space-between;
}
@media screen and (min-width: 768px) {
  .inventory-card__edit-delete {
    display: block;
  }
}
.inventory-card__status {
  display: inline-block;
  height: 1.5rem;
  padding: 0 8px;
  line-height: 1.5rem;
  border-radius: 20px;
  font-size: 0.82rem;
  line-height: 22px;
  font-size: 0.72rem;
}
@media (min-width: 768px) {
  .inventory-card__status {
    height: 26px;
    line-height: 26px;
  }
}
.inventory-card__status--in-stock {
  background-color: rgba(21, 132, 99, 0.07);
  color: #158463;
}
.inventory-card__status--out-of-stock {
  background-color: rgba(201, 69, 21, 0.07);
  color: #c94515;
}
.inventory-card__layout {
  display: flex;
}
@media screen and (min-width: 768px) {
  .inventory-card__layout {
    flex-direction: row;
  }
}
.inventory-card__layout--left {
  flex: 4;
}
.inventory-card__layout--right {
  flex: 3;
}
.inventory-card__divider {
  color: #bdc5d5;
  margin: 0 -2rem;
}
@media screen and (min-width: 768px) {
  .inventory-card__divider {
    width: 100%;
    margin-left: 0;
    display: none;
  }
}
.inventory-card__divider--tablet {
  display: none;
}
@media screen and (min-width: 768px) {
  .inventory-card__divider--tablet {
    display: block;
  }
}

.edit-cta, .edit-cta--tablet {
  width: 36px;
  height: 36px;
  border-radius: 20px;
  border: none;
  background-color: #2e66e5;
}
@media screen and (min-width: 768px) {
  .edit-cta, .edit-cta--tablet {
    display: none;
  }
}
.edit-cta--tablet {
  display: none;
}
@media screen and (min-width: 768px) {
  .edit-cta--tablet {
    display: block;
    color: #ffffff;
    width: 81px;
    margin-right: 30px;
  }
}
.edit-cta:hover, .edit-cta--tablet:hover {
  cursor: pointer;
}

.inventory-details__card-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.inventory-details__card-heading {
  display: block;
}

.inventory-details__card {
  padding: 10px 0;
}
@media screen and (min-width: 768px) {
  .inventory-details__card {
    padding: 10px 30px;
    display: flex;
    justify-content: space-between;
  }
}
@media screen and (min-width: 768px) {
  .inventory-details__card--left {
    flex: 2;
    padding-right: 30px;
  }
}
@media screen and (min-width: 768px) {
  .inventory-details__card--right {
    flex: 2;
    padding-left: 30px;
    border-left: 1px solid #bdc5d5;
  }
}

.inventory-details__mobile {
  display: flex;
}

.inventory-details__quantity {
  padding-left: 90px;
}