@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;

.inventory-card {
  padding: 20px;

  &__icon {
    vertical-align: middle; /* Align icon with text */
  }

  &__item {
    @include mediumText;
    color: $color-instock-indigo;
  }
  &__item-details {
    @include mediumText;
  }

  &__heading {
    @include tableHeader;
    margin: 0;
  }

  &__edit-delete {
    display: flex;
    justify-content: space-between;
  }

  &__status {
    display: inline-block;
    height: 1.5rem; // Mobile height
    padding: 0 8px;
    line-height: 1.5rem; // Align text vertically
    border-radius: 20px;
    @include mediumText;

    // Desktop & tablet styles
    @media (min-width: 768px) {
      height: 26px;
      line-height: 26px;
    }
  }

  &__status--in-stock {
    background-color: rgba(21, 132, 99, 0.07); // Green with 7% opacity
    color: $color-green;
  }

  &__status--out-of-stock {
    background-color: rgba(201, 69, 21, 0.07); // Red with 7% opacity
    color: $color-red;
  }
}
