@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;

.card-container {
  width: 90%;
  border: 1px solid;
  margin: auto;
}

.search {
  position: relative;
  width: 80%;
}

.search__input {
  width: 100%;
  padding: 10px;
  padding-right: 5px; /* Space for the search icon */
  font-size: 16px;
  border: 1px solid #ddd;
  border-radius: 20px;
}

.search__button {
  position: absolute;
  right: 0;
  top: 0;
  width: 40px;
  height: 100%;
  background: url("../../assets/icons/search-24px.svg") center no-repeat;
  background-size: 20px; /* icon's size */
  border: none;
  cursor: pointer;
  outline: none;
}

.form-cta {
  border-radius: 20px;
  border: none;
  cursor: pointer;
  outline: none;
  padding: 10px;
  background-color: $color-instock-indigo;
  color: $color-white;
}
