@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;

.card-container {
  @include setPageBodyFrameAndPosition;

  &__table-heading {
    display: none;
    background-color: $color-light-grey;
  }

  &__heading {
    @include pageHeading;
    color: $color-instock-black;
  }

  @include tablet {
    margin: 0 2rem;
    &__cta {
      align-items: center;
      position: absolute;
      display: flex;
      right: 49px;
      top: 13px;
    }

    &__table-heading {
      display: flex;
      justify-content: space-between;
      align-items: center;
      height: 40px;
      padding: 0 2rem;
    }
    &__heading {
      padding: 0 2rem;
    }
  }

  @include desktop {
    max-width: 1280px;
    margin: 0 auto;
  }
}

.search {
  position: relative;
  width: 328px;
  height: 40px;

  @include tablet {
    right: 25px;
    width: 185px;
  }
}

.search__input {
  width: 100%;
  padding: 9px;
  padding-right: 5px; /* Space for the search icon */
  font-size: 16px;
  border: 1px solid $color-cloud;
  border-radius: 20px;
}

.search__button {
  position: absolute;
  right: -10px;
  top: 2px;
  width: 40px;
  height: 100%;
  background: url("../../assets/icons/search-24px.svg") center no-repeat;
  background-size: 20px; /* icon's size */
  border: none;
  cursor: pointer;
  outline: none;
}

.form-cta {
  margin-top: 15px;
  margin-bottom: 15px;
  width: 345px;
  height: 36px;
  border-radius: 20px;
  border: none;
  cursor: pointer;
  background-color: $color-instock-indigo;
  color: $color-white;

  @include tablet {
    width: 128px;
  }
}
