@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;

.warehouse-list {
  @include setPageBodyFrameAndPosition;
  .table-row {
    .empty {
      display: none;
    }
  }
  @include tablet {
    margin: 0 2rem;
    .table-row {
      @include setTableDataFields(10%, 18%, 15%, 28%, 0.75rem);
    }
    .warehouse-list-header-ctn {
      display: flex;
      justify-content: space-between;
      &__heading {
        @include setPageHeadingStyle;
      }
    }
    .warehouse-list-table-heading {
      display: flex;
      justify-content: space-between;
      background-color: $color-light-grey;
    }
  }
}
