.card-container {
  margin: 0 1rem;
  box-shadow: 0px 2px 5px 0px rgba(19, 24, 44, 0.1019607843);
  background: #ffffff;
  position: relative;
  top: -4.375rem;
  border-radius: 0.5rem;
  padding: 10px 30px 0 30px;
}
.card-container__table-heading {
  display: none;
  background-color: #f7f8f9;
}
.card-container__heading, .form-heading-add-warehouse {
  font-size: 28px;
  font-weight: 600;
  line-height: 36px;
  color: #13182c;
}
@media screen and (min-width: 768px) {
  .card-container {
    margin: 0 2rem;
  }
  .card-container__cta {
    align-items: center;
    position: absolute;
    display: flex;
    right: 49px;
    top: 13px;
  }
  .card-container__table-heading {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 40px;
    padding: 0 2rem;
  }
  .card-container__heading, .form-heading-add-warehouse {
    padding: 0 2rem;
  }
}

.search {
  position: relative;
  width: 328px;
  height: 40px;
}
@media screen and (min-width: 768px) {
  .search {
    right: 25px;
    width: 185px;
  }
}

.search__input {
  width: 100%;
  padding: 9px;
  padding-right: 5px; /* Space for the search icon */
  font-size: 16px;
  border: 1px solid #bdc5d5;
  border-radius: 20px;
}

.search__button {
  position: absolute;
  right: -10px;
  top: 2px;
  width: 40px;
  height: 100%;
  background: url("../../assets/icons/search-24px.svg") center no-repeat;
  background-size: 20px; /* icon's size */
  border: none;
  cursor: pointer;
  outline: none;
}

.form-cta, .form-cta--cancel-add-warehouse, .form-cta--add-add-warehouse {
  margin-top: 15px;
  margin-bottom: 15px;
  width: 345px;
  height: 36px;
  border-radius: 20px;
  border: none;
  cursor: pointer;
  background-color: #2e66e5;
  color: #ffffff;
}
@media screen and (min-width: 768px) {
  .form-cta, .form-cta--cancel-add-warehouse, .form-cta--add-add-warehouse {
    width: 128px;
  }
}

.inventory-card {
  padding: 20px;
}
@media screen and (min-width: 768px) {
  .inventory-card {
    display: none;
  }
}
.inventory-card--tablet {
  display: none;
}
@media screen and (min-width: 768px) {
  .inventory-card--tablet {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 30px;
  }
}
.inventory-card__icon, .form-error__icon, .inventory-card__icon--details {
  vertical-align: middle; /* Align icon with text */
  height: 20px;
}
.inventory-card__icon:hover, .form-error__icon:hover, .inventory-card__icon--details:hover {
  cursor: pointer;
}
.inventory-card__icon--details {
  filter: brightness(0) invert(1);
}
@media screen and (min-width: 768px) {
  .inventory-card__icon--details {
    padding-right: 5px;
  }
}
.inventory-card__item {
  font-size: 0.82rem;
  line-height: 22px;
  color: #2e66e5;
}
@media screen and (min-width: 768px) {
  .inventory-card__item {
    min-width: 95px;
  }
}
.inventory-card__item:hover {
  cursor: pointer;
}
.inventory-card__item-details, .inventory-card__item-details--quantity {
  font-size: 0.82rem;
  line-height: 22px;
}
@media screen and (min-width: 768px) {
  .inventory-card__item-details, .inventory-card__item-details--quantity {
    min-width: 90px;
  }
}
@media screen and (min-width: 768px) {
  .inventory-card__item-details--quantity {
    min-width: 30px;
  }
}
.inventory-card__heading, .inventory-details__card-heading, .form-label-add-warehouse, .inventory-card__heading--mobile {
  font-weight: 600;
  font-size: 12px;
  color: #5c667e;
  margin: 0;
}
@media screen and (min-width: 768px) {
  .inventory-card__heading--mobile {
    display: none;
  }
}
.inventory-card__edit-delete {
  display: flex;
  justify-content: space-between;
}
@media screen and (min-width: 768px) {
  .inventory-card__edit-delete {
    display: block;
  }
}
.inventory-card__status {
  display: inline-block;
  height: 1.5rem;
  padding: 0 8px;
  line-height: 1.5rem;
  border-radius: 20px;
  font-size: 0.82rem;
  line-height: 22px;
  font-size: 0.72rem;
}
@media (min-width: 768px) {
  .inventory-card__status {
    height: 26px;
    line-height: 26px;
  }
}
.inventory-card__status--in-stock {
  background-color: rgba(21, 132, 99, 0.07);
  color: #158463;
}
.inventory-card__status--out-of-stock {
  background-color: rgba(201, 69, 21, 0.07);
  color: #c94515;
}
.inventory-card__layout {
  display: flex;
}
@media screen and (min-width: 768px) {
  .inventory-card__layout {
    flex-direction: row;
  }
}
.inventory-card__layout--left {
  flex: 4;
}
.inventory-card__layout--right {
  flex: 3;
}
.inventory-card__divider {
  color: #bdc5d5;
  margin: 0 -2rem;
}
@media screen and (min-width: 768px) {
  .inventory-card__divider {
    width: 100%;
    margin-left: 0;
    display: none;
  }
}
.inventory-card__divider--tablet {
  display: none;
}
@media screen and (min-width: 768px) {
  .inventory-card__divider--tablet {
    display: block;
  }
}

.edit-cta, .edit-cta--tablet {
  width: 36px;
  height: 36px;
  border-radius: 20px;
  border: none;
  background-color: #2e66e5;
}
@media screen and (min-width: 768px) {
  .edit-cta, .edit-cta--tablet {
    display: none;
  }
}
.edit-cta--tablet {
  display: none;
}
@media screen and (min-width: 768px) {
  .edit-cta--tablet {
    display: block;
    color: #ffffff;
    width: 81px;
    margin-right: 30px;
  }
}
.edit-cta:hover, .edit-cta--tablet:hover {
  cursor: pointer;
}

.inventory-details__card-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.inventory-details__card-heading, .form-label-add-warehouse {
  display: block;
}

.inventory-details__card {
  padding: 10px 0;
}
@media screen and (min-width: 768px) {
  .inventory-details__card {
    padding: 10px 30px;
    display: flex;
    justify-content: space-between;
  }
}
@media screen and (min-width: 768px) {
  .inventory-details__card--left {
    flex: 2;
    padding-right: 30px;
  }
}
@media screen and (min-width: 768px) {
  .inventory-details__card--right {
    flex: 2;
    padding-left: 30px;
    border-left: 1px solid #bdc5d5;
  }
}

.inventory-details__mobile {
  display: flex;
}

.inventory-details__quantity {
  padding-left: 90px;
}

.form-heading-add-warehouse {
  font-size: 20px;
  color: #13182c;
  margin-left: -2rem;
}
@media screen and (max-width: 768px) {
  .form-heading-add-warehouse {
    margin-left: 0rem;
  }
}

.form-label-add-warehouse {
  color: #13182c;
  padding-bottom: 4px;
  margin-left: 5px !important;
}

.form-input-add-warehouse {
  height: 38px;
  border-radius: 20px;
  text-indent: 10px;
  border: 1px solid #bdc5d5;
  width: 100%;
  margin-bottom: 10px;
  font-family: "../../assets/fonts/TitilliumWeb-Regular.ttf", sans-serif;
  appearance: none;
}
.form-input-add-warehouse:focus {
  border: 1px solid #2e66e5;
}

.cta-add-warehouse {
  display: flex;
  background-color: #f7f8f9;
}
@media screen and (max-width: 768px) {
  .cta-add-warehouse {
    margin-inline: -2rem;
  }
}

.form-cta--cancel-add-warehouse {
  width: 80px !important;
  margin-left: auto;
  margin-right: 0.5rem;
  background-color: #ffffff;
  color: #13182c;
  border: 1px solid #bdc5d5;
}
@media screen and (max-width: 768px) {
  .form-cta--cancel-add-warehouse {
    width: 40% !important;
  }
}

.form-cta--add-add-warehouse {
  width: 140px !important;
  margin-right: 2rem;
}
@media screen and (max-width: 768px) {
  .form-cta--add-add-warehouse {
    width: 40% !important;
    margin-right: 0rem;
    margin-right: auto;
  }
}

.form-error {
  margin: 0;
  color: #c94515;
  font-size: 12px;
}
.form-error__icon {
  height: 15px;
}

.add-warehouse-container {
  display: flex;
  padding-inline: 2rem;
  margin-bottom: 0.5rem;
}
@media screen and (max-width: 768px) {
  .add-warehouse-container {
    flex-direction: column;
    padding-inline: 0rem;
  }
}
.add-warehouse-container__column-1 {
  flex: 1;
  margin-right: 2rem;
}
@media screen and (max-width: 768px) {
  .add-warehouse-container__column-1 {
    margin-right: 0rem;
  }
}
.add-warehouse-container__column-2 {
  flex: 1;
  padding-left: 2rem;
  border-left: 1px solid #bdc5d5;
}
@media screen and (max-width: 768px) {
  .add-warehouse-container__column-2 {
    padding-left: 0rem;
    border-left: 0px solid black;
    border-top: 1px solid #bdc5d5;
    margin-top: 1.5rem;
  }
}