@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;

.warehouse-card {
  padding: 20px;

  @include tablet {
    display: none;
  }

  &--tablet {
    display: none;

    @include tablet {
      display: flex;
      align-items: center;
      justify-content: space-around;
    }
  }

  &__icon {
    vertical-align: middle; /* Align icon with text */
    height: 20px;
  }

  &__item {
    @include mediumText;
    color: $color-instock-indigo;
    &:hover{
      cursor: pointer;
    }
    
  }
  &__item-details {
    @include mediumText;
  }

  &__heading {
    @include tableHeader;
    margin: 0;
  }

  &__heading--mobile {
    @extend .warehouse-card__heading;
    @include tablet {
      display: none;
    }
  }

  &__edit-delete {
    display: flex;
    justify-content: space-between;

    @include tablet {
      justify-content: start;
    }
  }

  &__layout {
    display: flex;

    @include tablet {
      flex-direction: row; // Only for the overall layout, not individual items
    }
  }

  &__layout--left {
    flex: 4;
  }

  &__layout--right {
    flex: 3;
  }

  &__divider {
    color: $color-cloud;
    width: 395px;
    margin-left: -30px;

    @include tablet {
      width: 100%;
      margin-left: 0;
    }
  }
}
