@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;

.warehouse-card {
  padding: 20px;

  &--tablet {
    display: none;
  }

  &__icon {
    vertical-align: middle; /* Align icon with text */
    height: 20px;
  }

  &__item {
    @include mediumText;
    color: $color-instock-indigo;
    &:hover {
      cursor: pointer;
    }
  }
  &__item-details {
    @include mediumText;
  }

  &__heading {
    @include tableHeader;
    margin: 0;
  }

  &__heading--mobile {
    @extend .warehouse-card__heading;
  }

  &__edit-delete {
    display: flex;
    justify-content: space-between;
  }

  &__layout {
    display: flex;
  }

  &__layout--left {
    flex: 4;
  }

  &__layout--right {
    flex: 3;
  }

  &__divider {
    color: $color-cloud;
    margin: 0 -2rem;
  }

  @include tablet {
    display: none;
    &__item {
      width: 15%;
    }

    &__item-details {
      width: 18%;
    }
    &--tablet {
      display: flex;
      align-items: center;
      justify-content: space-around;
    }
    &__heading--mobile {
      display: none;
    }
    &__edit-delete {
      justify-content: space-between;
      width: 8%;
    }

    &__layout {
      flex-direction: row; // Only for the overall layout, not individual items
    }

    &__divider {
      width: 100%;
      margin-left: 0;
    }
  }
}
