@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;

.table-row {
  padding-bottom: 1rem;
  .table-row-text-ctn {
    display: flex;
    flex-flow: row wrap;
  }
  .table-row-icon-ctn {
    display: flex;
    justify-content: space-between;
  }

  @include tablet {
    display: flex;
    justify-content: space-between;
    .table-row-text-ctn {
      justify-content: space-between;
      width: 90%;
      .data-field {
        font-size: 0.875rem;
        justify-content: space-between;
      }
      .empty {
        display: none;
      }
    }

    .table-row-icon-ctn {
      display: flex;
      img {
        padding-left: 1rem;
      }
    }
  }
}
